body{
    display:flex;
    justify-content: center;
    background-color: rgb(4, 46, 22);
    margin: 0;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#player{
    max-width: 500px;
    background-color: rgb(49, 118, 92);
    height: 700px;
    width: 450px;
    border-radius: 20px;
}

#photo{
    padding-top: 40px;
}

#songandartistname{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;

}

#progressbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#progressbar{
    -webkit-appearance: none;
    width: 400px;
    height: 20px;
    background: #093511;
    border-radius: 20px;
    cursor: pointer;
    padding-bottom: 2px;
    color: antiquewhite;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance:none;
    background-color: #093511;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 20px;
}

#image{
    width: 400px;
    height: 370px;
    align-items: center;
}

button{
    height: 75px;
    width: 75px;
    border-radius: 30px;
    color: antiquewhite;
    background-color: rgb(4, 34, 21);
    border-style: none;
    margin-top: 10px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(3, 47, 33);
}
button:active{
    background-color: rgb(65, 93, 86);
}
#controls{
    padding: 10px;
}

#slider{
    width: 100px;
    height: 10px;
}

